a:link { color:blue; }
a:visited { color:blue; }

.paragraph
{
}

.popup
{
    position: fixed;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background: white;
    width: auto;
    height: auto;
    display: none;
}

.choice-list
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
