.popup-link
{
    color: black;
    background: Gainsboro;
    text-decoration: none;
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
}

.popup
{
    position: absolute;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background: Gainsboro;
    width: auto;
    height: auto;
    display: none;
    border-radius: 5px;
}

.choice-button
{
    cursor: pointer;
}

.choice-list
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
